@import "../../../Styles/styleall.css";

html,
body {
  text-align: center;
  font-family: monospace;
}

#navprojects {
  background-color: #333;
}

#footer {
<<<<<<< HEAD
  position: unset;
}

#einleitung {
  width: 100%;
}

img{
  width: 100%;
=======
  position: absolute;
>>>>>>> parent of 15218b5 (added pictures to photography)
}