/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a{
  color: #fff;
  font-family: monospace;
  font-size: larger;
  text-decoration: underline;
  display: block;
  margin-bottom: 2vh;
}

#footer{
  margin-top: 5vh;
}

#gallery {
  line-height: 0;
  -webkit-column-count: 3;
  /* split it into 5 columns */
  -webkit-column-gap: 5px;
  /* give it a 5px gap between columns */
  -moz-column-count: 3;
  -moz-column-gap: 5px;
  column-count: 3;
  column-gap: 5px;

  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5vh;
}

#gallery img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  /* to match column gap */
}


@media (max-width: 1200px) {
  #gallery {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 1000px) {
  #gallery {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}


@media (max-width: 800px) {
  #gallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    margin-left: 15%;
    margin-right: 15%;
  }
}


@media (max-width: 400px) {
  #gallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    margin-left: 10%;
    margin-right: 10%;
  }
}

#canvas{
  height: 100vh;
  margin-top: 2vh;
}

.fade-in-image {
  -webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}