@tailwind base;
@tailwind components;
@tailwind utilities;

#BW {
    filter: url(#ambilight);
}

#print-visible{
    display: none;
}

@media print {
    main, footer, #navbar {
        display: none;
    }
    
    #print-visible {
        display: block;
        font-size: 50pt;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        margin-top: 45vh;
    }
}