/* GLOBAL STYLES */
html, body {
  margin: 0;
  padding: 0;
  background-color: #333;
}

@media screen and (min-width: 1000px) {
  body {
    -webkit-animation: fadein 5s;
    /* Safari, Chrome and Opera > 12.1 */
  
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.tiles-grid{
  justify-content: center;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

#Leittext {
  text-align: center;
}

