/* GLOBAL STYLES */
body {
    background: #333;
    padding-top: 5em;
    display: flex;
    justify-content: center;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: black;
    font-family: monospace;
    overflow: hidden;
    font-weight: bolder;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .18em;
    /* Adjust as needed */
    animation:
        typing 1.3s steps(7, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white
    }
}




#redirect p {
    margin-top: 50px;
    font-size: 25px;
    margin-left: -140px;
    text-align: center;
    -webkit-animation: fadein 15s;

}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

