body {
  background-size: 700px 700px;
}

#navabout {
  background-color: #333;
}

#footer {
  margin-top: 5vh;
  position: fixed; 
}

#afsCert-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* img{
  width:400px;
  height: 550px;
  margin: 10px;
} */

img {
  width: 350px;
  height: 500px;
  border-radius:25px;
}

p,
a {
  font-family: monospace;
  text-decoration: none;
  color: #fff;
}
