/* GLOBAL STYLES */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #333;
}

#navprojects {
  background-color: #333;
}


.navbar > a {
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: monospace;
  padding-top: 6px;
}
.navbar > a:hover{
  background-color: #333;
}
.navbar{
  text-align:center;
  height:30px;
  display:flex;
  background-color:#222;
}


#footer {

}

#footerlink {
  text-decoration: none;
  color: black;
}

#footer {
  clear: both;
  text-align: center;
  width: 100%;
  font-family: monospace;
  background-color:#222;
  color: white;
  bottom: 0px;
  left: 0px;
  left: 0;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
}


.einleitung {
  text-align: center;
}

#leittext {
  text-decoration: none;
  color: #fff;
  font-family: monospace;
}

@media screen and (min-width: 1000px) {
  body {
    -webkit-animation: fadein 5s;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



a {
  text-decoration: none;
}

.projecttiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.column-4 {
  float: left;
  width: 21%;
  padding: 10px;
  margin: 20px;
  font-family: monospace;
  border-radius: 20px;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.column-4:hover {
  transform: scale(1.14);
}

.project-text {
  text-align: center;
}

.project-1 {
  background: url('../Webpage/img/projects/e30/E30Tile.JPG');
  color: #fff;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project-2 {
  background-color: white;
  text-align: center;
  color: #333;
}

.project-3 {
  background-color: #209BFF;
  text-align: center;
  color: #333;
}

.project-4 {
  background-color: #112d4e;
  text-align: center;
  color: #fff;
}

.project-5 {
  background-color: #F9F7F7;
}

.project-6 {
  background-color: #209BFF;
}

.project-7 {
  background-color: #ffffff00;
}

.project-8 {
  background: url('../images/project-right.jpeg');
  background-size: cover;
}




@media (max-width:477px) {
  .project-text {
    font-size: 12px;
  }

  .project-1 {
    color: #333;
  }
}

@media (min-width:477px) {
  .project-text {
    font-size: 15px;
  }
}

@media (min-width:1000px) {
  .project-text {
    font-size: 30px;
  }
}

@media (min-width:1300px) {
  .project-text {
    font-size: 50px;
  }
}