@import "./styleall.css";

body {
  background-size: 700px 700px;
  height: 10000px;
}

#navabout {
  background-color: #333;
}

#footer {

  position: fixed;
}

.badge {
  margin-top: 1500px;
  margin-left: 0px;
  font-size: 80px;
}