html {
	overflow-x: hidden;
	margin: 0;
	font-family: monospace
}

.darkmode {
	background-color: #fff
}

section{
  overflow-x: hidden;
}

#startpage {
	color: #fff;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../Webpage/img/index/BW.webp);
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain
}

#scroll2explore {
	color: #e14848
}

.About {
	background-color: #fff;
	padding: 10px 10px 10px 10px;
	border-radius: 25px
}

.About_Me {
	margin-top: 300px
}

.Purpose_Page {
	margin-top: 500px
}

.About_Site {
	margin-top: 900px
}

.title {
	margin-top: 900px
}

@media only screen and (max-width:1050px) {

	.About,
	.Intrests,
	.WIP {
		font-size: 12px;
		margin-left: 20%;
		margin-right: 20%
	}

	h3 {
		font-size: 20px;
		text-transform: uppercase
	}

	/* h3{
		font-size: 20px;
	} */

	#startpage {
		background-position: top
	}
}

@media only screen and (min-width:1050px) {

	.About,
	.Intrests,
	.WIP {
		font-size: 24px;
		margin-left: 20%;
		margin-right: 20%
	}

	h3 {
		font-size: 30px;
		text-transform: uppercase
	}

	#startpage {
		background-position: right
	}
}

.Intrests {
	background-color: #fff;
	padding: 10px 10px 10px 10px;
	border-radius: 25px
}

.cars,
.fiddling {
	margin-top: 10px
}

.WIP {
	background-color: #fff;
	padding: 10px 10px 10px 10px;
	border-radius: 25px
}

.WorkInProgress {
	margin-top: 10px
}

#spacerbottom {
	height: 200vh
}

#BackToTop{
	text-align: center;
	margin-left: 20%;
	margin-right: 20%
}

#btnBackToTop {
	appearance: none;
	background-color: #000000;
	border: 2px solid #000;
	border-radius: 15px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: monospace;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;

	min-height: 60px;
	min-width: 0;
	outline: none;
	padding: 16px 24px;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	will-change: transform;
  }
  
  #btnBackToTop:disabled {
	pointer-events: none;
  }
  
  #btnBackToTop:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
  }
  
  #btnBackToTop:active {
	box-shadow: none;
	transform: translateY(0);
  }











#darkmodecontainer {
	text-align: right
}

img#darkmodeimg {
	height: 40px;
	width: 40px
}